body { background: #975206; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 55px; display: flex; }
.block-cart-0 { color: #dd9dd3; font-size: 15px; margin-bottom: 5px; }
.block-order-1 { color: #f726e4; font-size: 14px; margin-bottom: 5px; }
.block-logger-2 { color: #82a5e4; font-size: 18px; margin-bottom: 5px; }
.block-config-3 { color: #1cfbd8; font-size: 19px; margin-bottom: 5px; }
.block-cache-4 { color: #250a64; font-size: 16px; margin-bottom: 5px; }
.block-token-5 { color: #48e6fc; font-size: 14px; margin-bottom: 5px; }
.block-database-6 { color: #6137c9; font-size: 20px; margin-bottom: 5px; }
.block-sms-7 { color: #c0972; font-size: 19px; margin-bottom: 5px; }
.block-cart-8 { color: #7677d9; font-size: 13px; margin-bottom: 5px; }